.body-footer{
    background-image: url(../../assets/fondo_H_F.jpg);
}

.nav-footer{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgb(114,3,138);
}

.text-footer{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 1px 2px 4px rgba(0,219,255,1);
}